.slider {
    display: flex;
    width: 1000px;
    height: 400px;
    margin: auto;
    background-color: aqua;
}

.child{
    width: 300px;
    height: 100%;
    background-color: lightcoral;
    margin: 0 10px;
}